<h1>Example app</h1>

<div id='posts'>
	<%= render @posts %>
</div> 


<%= link_to new_post_path, remote: true do %>
  <button>new</button>
<% end %>

<div id='post-form' style='display:none;'></div>

